@font-face{
    font-family:"Ubuntu";
    src:url(fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face{
    font-family:"cooperb";
    src:url(fonts/cooperb.ttf);
}

@font-face{
    font-family:"Montserrat";
    src:url(fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
    font-family:"Montserrat-Black";
    src:url(fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face{
    font-family:"Montserrat-Bold";
    src:url(fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family:"Itallic";
    src:url(fonts/newItalic.woff2);
}

